{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Login Page</title>
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card bg-dark text-white">
                    <div class="card-header bg-primary">
                        <h2 class="card-title text-center text-white">login here</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="text-center">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="Login" class="text-white mt-4 btn btn-lg bg-success">
                        </form>
                        <hr>
                        <h5 class="text-center display-6">Don't have Account? <a href="{% url 'register'%}">Register</a> here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}